/*Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
                                                                                 Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;


}
/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

h1, h2, h3 {
font-family: 'Merriweather Sans', sans-serif;
    font-size: xx-large;
}

main {

}
/* ------------------------------- 2. Typography --------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */





/* --------------- 4.1 Header ------------------------- */
header {
    background-color: #4845E4;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;

}



nav {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
}



.navbar {
color: #F3F6F9;
    display:


}







a {
    color: white;

}
.outer-container-head {
    display: flex;


    justify-content: center;
    width: 100%;
    margin-bottom: 20px;



}



.inner-container-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 500px;

}
h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-button {
    border: black;
    border-style: inset;
    border-radius: 50px;
    width: 160px;
    height: 40px;
    background-color: red;
    color: white;
    margin:20px;
    margin-bottom: 100px;
    text-transform: uppercase;

}

.squiggle-line {
    position: absolute;
    bottom: 0;
    width: 50px;

}
/* --------------- 4.2 Introduction ------------------- */

.outer-container-intro1 {
    display: flex;
    justify-content: center;
}
.inner-container-intro1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 600px;
    padding-top: 50px;
    color: #5722CD;

}
.intro-text {
    margin: 10px;

}

.intro-text-par{
    padding-top: 80px;
    align-self: center;
    margin-bottom: 30px;

}
#contact2{
    color: black;
}
/* ------------------------------- 5. Media Queries -------------------------------- */
.section2 {
    background-color: #F3F6F9;
}

.inner-container-section2 {
    display: flex;
    justify-content: flex-end;
    padding: 20px;

}





.article1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 300px;
    margin-left: 30px;
    padding-top: 100px;

}
.article1-head{
    margin-bottom: 20px;


}
.article1-text {
    display: flex;
    flex-direction:column;
    flex-basis: 200px;
    margin-right: 60px;
}
.projects{
    margin-top: 60px;
    color: #5722CD;
    text-transform: uppercase;


}
.image-wrapper {
    width: 100%;
    flex-basis: 800px;
    flex-shrink: 1;
    flex-grow: 0;


}


.inner-container-section3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 20px;
    width: 100%;
    margin-top: 50px;

}

.article3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    padding-left: 50px;
    padding-right: 50px;
}
.inner-container-section4 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 20px;
}
.article4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis:250px;
}

/* ------------------------------- 6. boxes -------------------------------- */

.inner-container-section5 {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    padding: 20px;

}

.webber {
    border-style: solid;
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
    flex-shrink:1;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 15px;
    margin: 20px;
    color: #7A7A7A ;
    border-color: #4845E4;
    width: 100%;


}
.icon {
    flex-basis: 20px;
    align-content: flex-start;
    max-width: 60px;
    max-height: 60px;


}
h3 {
    padding: 6px;
    color: #5722CD ;
    font-weight: bold;
    font-size: larger;
}
/* ------------------------------- 7. form -------------------------------- */

.section4 {
    background-color: #4845E4;
    display: flex;
    justify-content: center;
    color: #F3F6F9;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}
.name {
    margin-bottom: 10px;
    padding-right: 140px;
    padding: 5px;

}
.email {
    margin-bottom: 10px;
}
.message {
    margin-bottom: 10px;
}