# Default ignored files
/../../frontend-html-css-concept-opdracht /.idea/shelf/
/../../frontend-html-css-concept-opdracht /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../frontend-html-css-concept-opdracht /.idea/httpRequests/
